* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 999;
}

nav #bt-mobile-menu {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    list-style-type: none;
}

nav ul > li {
    width: 100%;
    text-align: center;
}

nav ul > li > a {
  display: block;
  padding: 0.4em;
    text-decoration: none;
    color: #7d0093;
    font-weight: bold;
}

nav ul > li > a:hover {
    background-color: yellow;
    color: black;
}

/* ATIVAR NA PAGE Q ESTA 
a.active {
  color: #a70000;
}
*/

/*=============================== FIM NAVBAR====================================== */

body {
    height: 62.96em;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(black, #7d0093, #ffc600); /* Standard syntax (must be last) */
}

#menu-esq {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

#menu-dir {
    display: flex;
    flex-direction: column;
    
}

#menu-dir a {
    text-decoration: none;
    color: black;
}

#menu-dir a:hover {
    text-decoration:#ffc600 underline;
    color: #ffc600;
}

#menu-total {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    background-color: white;
    width: 60%;
    margin-left: 20%;
    border-radius: 20px;
}


#menu-esq p {
    font-size: 2em;
    padding: 1em 0;
}

#menu-dir p {
    font-size: 2em;
    padding: 1em;
    text-align: center;
}


/* MEDIA QUERY */

@media (max-width: 625px) {

    nav #bt-mobile-menu {
        display: block;
  
    }
  
    nav .bt-common-menu {
        display:none;
    }
    
    nav .bt-common-menu.active {
        display: block;
    }
  
    nav ul.mobile-mode {
        display: flex;
        flex-direction: column;
    }

    #menu-total {
        display: flex;
        flex-direction: column;
    }

    #menu-esq img {
        width: 50%;
    }

    #menu-esq {
        text-align: center;
    }

    #image {
        text-align: center;
    }
  }