@{
    var nomeView = (string) ViewData["NomeView"];
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RoleTop</title>
    <link href="~/img/logo.png" rel="icon" type="image/x-icon">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    <!-- bota o css aki -->
    <!-- @if("servicos".Equals(nomeView))
    {
        
    } -->

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/349a64cb04.js"></script> <!-- /* icone login */ -->
</head>

<body>
    <header>
        <nav>
            <div class="topnav" id="myTopnav">
                <a asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt="logo da firma" style="width: 4em"></a>
                <div id="topnav-left">
                    <a id="gambiarra"></a>
                    <a asp-controller="Home" asp-action="Index" id="test">Home</a>
                    <a asp-controller="SobreNos" asp-action="Index">Sobre Nós</a>
                    <a asp-controller="Servicos" asp-action="Index">Serviços</a>
                    <a asp-controller="Faq" asp-action="Index">Faq</a>
                    <a asp-controller="Contato" asp-action="Index">Contato</a>
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars fa-2x"></i>
                    </a>
                </div>
                <div class="topnav-right">
                    <a asp-controller="Login" asp-action="Index"><i class="fas fa-user fa-2x"></i></a>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer>
        <div id="footer-section-container">

            <div id="social-media">
                <a href="https://www.facebook.com/Rol%C3%AATop-106506047400870/" target="_blank"><img src="~/img/facebook.png" alt="icone facebook" title="facebook"></a>
                <a href="https://api.whatsapp.com/send?1=pr_BR&phone=5511960657694" target="_blank"><img src="~/img/whatsapp.png" alt="icone whatsapp" title="whatsapp"></a>
                <a href="https://www.youtube.com/" target="_blank"><img src="~/img/youtube.png" alt="icone youtube" title="youtube"></a>
                <a href="https://www.instagram.com/?hl=pt-br" target="_blank"><img src="~/img/instagram.png" alt="icone instagram" title="instagram"></a>
            </div>

            <div id="footer-copyright">
                <a asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt="logo da firma" title="RoleTop" style="width: 4em"></a>
                <p>Copyright 2019 RoleTop</p>
            </div>

            <div id="footer-text-media">
                <h4>RoleTop | Festas e Eventos Sociais</h4>
            </div>
        </div>
    </footer>
</body>


<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }   
</script>

<script>
    var slideIndex = 1;
    showSlides();

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 3250); // Change image every 2 seconds
}
</script>




</html>