@model RoleTopMVC.ViewModels.EventoViewModel;
<!-- src="http://placehold.it/180" script up foto -->
<main>
    <div id="dashboard">
        <div id="foto-perfil-container">
            <img id="foto-perfil" src="@Model.FotoPerfil" alt="foto_perfil" />
        </div>
        <h4>Olá <em>@Model.PrimeiroNome()</em></h4>
        <div id="opcaoUser">
            <a asp-controller="Administrador" asp-action="EventosAdm">Eventos</a>
            <a asp-controller="Administrador" asp-action="Blacklist">Blacklist</a>
            <a asp-controller="Login" asp-action="Configuracoes">Configurações</a>
            <a asp-controller="Login" asp-action="Logoff">Sair</a>
        </div>
    </div>
</main>
