<main>
    <div id="contato">
        <div id="formulario">
            <h2>Preencha o Formulário</h2>
            <form method="POST" action='@Url.Action("","")'>
                <div class="form-test">
                    <label for="name">Nome</label>
                    <input type="text" placeholder="Fulano Ciclano">
                </div>
                
                <div class="form-test">
                    <label for="email">Email</label>
                    <input type="text" placeholder="roletop@hotmail.com" required>
                </div class="form-test">
            
                <div class="form-test">
                    <label for="telefone">Telefone</label>
                    <input type="text" placeholder="(11) 91234-5678" pattern="[0-9]{2} [9]{1}[0-9]{4}-[0-9]{4}">
                </div>

                <div class="form-test">
                    <label for="telefone">Dia do Evento</label>
                    <input type="date" placeholder="" pattern="[0-9]{2} [9]{1}[0-9]{4}-[0-9]{4}">
                </div>

                <div class="form-test">
                    <label for="evento">Tipo de Evento</label>
                    <select id="evento" required>
                        <option value="" disabled selected>Selecione</option>
                        <option value="casamento">Casamento</option>
                        <option value="debutante">Debutante</option>
                        <option value="corporativo">Corporativo</option>
                        <option value="outros">Outros</option>
                    </select>
                </div>

                <div class="form-test">
                    <label for="numeroConvidados">Número de Convidados</label>
                    <input type="text" placeholder="" >
                </div>
                
                <div class="form-test">
                    <label >Sua Mensagem</label>
                    <textarea></textarea>
                </div>
                
                <div id="enviar">
                    <button type="submit">Enviar</button>
                </div>
            </form> 
        </div>

        <div id="localizacao">
            <div id="mapa">
                <h2>Localização</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d914.4715869505721!2d-46.6466504!3d-23.5365898!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb23619858bc7e63e!2sEscola%20SENAI%20de%20Inform%C3%A1tica!5e0!3m2!1spt-BR!2sbr!4v1574233948222!5m2!1spt-BR!2sbr" width="670" height="395" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>

            <div id="informacoes">
                <div class="informacao">
                    <div class="icones">
                        <i class="fas fa-home fa-lg"></i>
                        <p>Rua: Alameda Barão de Limeira, 132</p>
                    </div>
                    <div class="icones">
                        <i class="fas fa-map-marker-alt fa-lg"></i>
                         <p>Campos Elíseos,  São Paulo - SP</p>
                    </div>
                    <div class="icones">
                        <i class="fas fa-search fa-lg"></i>
                        <p>CEP: 01202-000 </p>
                    </div>
                </div>
                <div class="informacao">
                    <div class="icones">
                        <i class="fab fa-whatsapp fa-lg"></i>
                        <p>(11) 98574-8485 </p>
                    </div>
                    <div class="icones">
                        <i class="fas fa-phone fa-lg"></i>
                        <p>(11) 4002-8922</p>
                    </div>
                    <div class="icones">
                        <i class="fas fa-envelope fa-lg"></i>
                       <p>emaildecontato@hotmail.com</p>
                    </div>
                </div>
            </div>

            <div id="faq">
                <h2>Perguntas Frequentes</h2>
                <button class="accordion">Pergunta 1</button>
                <div class="panel">
                    <p>Lorem ipsum...</p>
                </div>
                <button class="accordion">Pergunta 2</button>
                <div class="panel">
                    <p>Lorem ipsum...</p>
                </div>
                <button class="accordion">Pergunta 3</button>
                <div class="panel">
                    <p>Lorem ipsum...</p>
                </div>
                <button class="accordion">Pergunta 4</button>
                <div class="panel">
                    <p>Lorem ipsum...</p>
                </div>
            </div>
        </div>
    </div>
</main>

