<main>
    <section id="titulo-servicos">
        <h1>Sobre Nós</h1>
    </section>

    <div id="fotoFachada">
        <img src="~/img/fachadaFirma.jpg">
    </div>

    <section id="aboutUs">
        <p>Um espaço consolidado e responsável pela realização de eventos de grande prestígio em São Paulo. RolêTop tem forte presença no mercado pela qualidade dos produtos e serviços que oferece.</p>
        <p>Trabalhamos nos melhores  espaços , em regiões importantes da cidade; Contamos também com o serviço de som e iluminação se solicitados por nossos clientes. Nosso trabalho conquistou famílias e grandes empresas, não só pela excelência, mas pelo envolvimento que temos com cada festa que realizamos.</p>
    </section>

    
    <div id="depocial">
            <div id="depoimentos">
            <h2>Depoimentos</h2>
            <textarea id="textoDepoimento" placeholder="mensagem do usuario"></textarea>
            <div id="fotoDepoimento">
                <img src="~/img/foto-depoimentos.jpg" >
            </div>
            </div>  
        
        <div id="conquest">
            <h2>Conquistas</h2>
            <div id="diferencial">
                <div class="conquistas" style="padding: 0 20px 0 0">
                    <i class="fas fa-trophy fa-3x"></i>
                    <em><p>Melhor espaço SP</p></em> 
                </div>
                <div class="conquistas" style="padding: 0 0 0 20px">
                    <i class="fas fa-clipboard-check fa-3x"></i>
                   <em><p>+1 mil de eventos</p></em> 
                </div>
            </div> 
        </div>
    </div>


</main>