<main>
    <div id="geral">
        <h1>Cadastro</h1>

        <form>
            <div class="tabela">
                <label>Nome</label>
                <input type="text" placeholder="Nome Completo">
            </div>

            <div class="tabela">
                <label>Senha</label>
                <input type="password" placeholder="Password">
            </div>

            <div class="tabela">
                <label>Email</label>
                <input type="text" placeholder="roletop@email.com">
            </div>

            <div class="tabela">
                <label>Celular</label>
                <input type="text" placeholder="(11) 91234-5678">
            </div>

            <div class="tabela">
                <label>CPF</label>
                <input type="text" placeholder="000.111.222-33">
            </div>
            
            <div class="tabela">
                <label>Data de Nascimento</label>
                <input type="text" placeholder="dd/mm/aaaa">
            </div>
            
            <button type="submit" class="butao">Cadastre-se</button>

        </form>
    </div>
    

</main>