<main>  
    <div class="mySlides fade">
        <img src="~/img/event.jpg">
    </div>
    <div class="mySlides fade">
        <img src="~/img/event2.jpg">
    </div>
    <div class="mySlides fade">
        <img src="~/img/event3.jpg">
    </div>
    <div class="mySlides fade">
        <img src="~/img/event4.jpg">
    </div>
    <div class="mySlides fade">
        <img src="~/img/event5.jpg">
    </div>

    <h1>Serviços</h1>
    
    <div id="container-services">
        <div class="servicos">
            <i class="fas fa-ring fa-3x"></i>
            <h3>Casamento</h3>
            <p>Conte com nossa experiência de 35 anos<br>para o dia mais especial da sua vida.</p>
            <a asp-controller="Servicos" asp-action="Casamento"><em>Clique aqui</em></a>
        </div>
        <div class="servicos">
            <i class="fas fa-handshake fa-3x"></i>
            <h3>Eventos Corporativos</h3>
            <p>Um departamento especializado em tornar<br>o evento da sua empresa um grande sucesso!</p>
            <a asp-controller="Servicos" asp-action="Casamento"><em>Clique aqui</em></a>
        </div>
        <div class="servicos">
            <i class="fas fa-birthday-cake fa-3x"></i>
            <h3>Debutante</h3>
            <p>Espaços com escadaria, elevador panorâmico<br>e cardápios exclusivos, como não amar?</p>
            <a asp-controller="Servicos" asp-action="Casamento"><em>Clique aqui</em></a>
        </div>
        <div class="servicos">
            <i class="fas fa-cocktail fa-3x"></i>
            <h3>Eventos - Formatura</h3>
            <p>Formaturas, Bodas, Aniversários, Confraternizações,<br> são muitos os eventos que realizamos.</p>
            <a asp-controller="Servicos" asp-action="Casamento"><em>Clique aqui</em></a>
        </div>
    </div>

    <div id="container-mapForm">
        <div id="formulario">
            <h2>Localização</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d914.4715869505721!2d-46.6466504!3d-23.5365898!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb23619858bc7e63e!2sEscola%20SENAI%20de%20Inform%C3%A1tica!5e0!3m2!1spt-BR!2sbr!4v1574233948222!5m2!1spt-BR!2sbr" width="670" height="395" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>

        <div id="formulario">
            <h2>Envie sua mensagem</h2>
            <form method="POST" action='@Url.Action("","")'>
                <div class="form-test">
                    <label for="name">Nome</label>
                    <input type="text" placeholder="Fulano Ciclano">
                </div>
                
                <div class="form-test">
                    <label for="email">Email</label>
                    <input type="text" placeholder="roletop@hotmail.com" required>
                </div class="form-test">
            
                <div class="form-test">
                    <label for="telefone">Telefone</label>
                    <input type="text" placeholder="(11) 91234-5678" pattern="[0-9]{2} [9]{1}[0-9]{4}-[0-9]{4}">
                </div>
                
                <div class="form-test">
                    <label >Sua Mensagem</label>
                    <textarea></textarea>
                </div>
                
                <div id="enviar">
                    <button type="submit">Enviar</button>
                </div>
            </form>  
        </div>
        
    </div>
    <!-- <section>   
    <h2>Nossa história<h2>
    <p>Nascida da ousada ideia dos dois fundadores Alexandre Fukaya e Cesar Sportore, desde 2012, O RoleTop vem realizando os melhores eventos da Santa Cecília.</p>
    </section> -->
</main>

