@model RoleTopMVC.ViewModels.BaseViewModel;
<!-- src="http://placehold.it/180" script up foto -->
<main>
    <!-- <h1>@Model.UsuarioEmail logado</h1> -->
    <div id="dashboard">
        <img id="blah" src="~/img/foto_user.jpg" alt="your image"/>
        <a asp-controller="Login" asp-action="Dashboard"><h4>Olá <em>@Model.PrimeiroNome()</em></h4></a>
        <!-- <input type='file' onchange="readURL(this);" /> -->
        <div id="opcaoUser">
            <a asp-controller="Login" asp-action="">Atualizar Informação</a>
            <a asp-controller="Login" asp-action="MudarSenha">Mudar Senha</a>
            <a asp-controller="Login" asp-action="">Mudar Foto</a>
            <a asp-controller="Login" asp-action="Dashboard">Voltar</a>
        </div>
    </div>
</main>

