@model RoleTopMVC.ViewModels.BaseViewModel;

<main>
    <!-- <h1>@Model.UsuarioEmail logado</h1> -->
    <div id="dashboard">
        <img id="blah" src="http://placehold.it/180" alt="your image" />
        <h4>Olá <em>@Model.PrimeiroNome()</em></h4>
        <!-- <input type='file' onchange="readURL(this);" /> -->
        <div id="opcaoUser">
            <a asp-controller="Login" asp-action="MeusEventos">Meus Eventos</a>
            <a asp-controller="Login" asp-action="SolicitarEventos">Solicitar Eventos</a>
            <a asp-controller="Login" asp-action="Configuracoes">Configurações</a>
            <a asp-controller="Login" asp-action="Logoff">Sair</a>
        </div>
    </div>
</main>

