<main>
    <div id="dash">
        <div id="opcaoUser">
                <a asp-controller="Login" asp-action="MeusEventos">Meus Eventos</a>
                <a asp-controller="Login" asp-action="SolicitarEventos">Solicitar Eventos</a>
                <a asp-controller="Login" asp-action="Configuracoes">Configurações</a>
                <a asp-controller="Login" asp-action="Logoff">Sair</a>
        </div>
        <div id="content">
            
        </div>
    </div>
</main>