<main>
    <section id="titulo-servicos">
        <h1>Casamento</h1>
    </section>
    
    <!-- <section class="texto-description">
        <p>O RolêTop tem em seu histórico mais de 36.000 eventos organizados com sucesso. Com uma equipe especializada, toda essa experiência traz a tranquilidade de um evento inesquecível para os familiares, convidados e, principalmente, para os noivos. Em um momento de felicidade, os noivos têm a sua disposição toda a experiência da equipe do RolêTop que desenvolve projetos exclusivos para que cada evento seja único.</p>
    </section>
    <section class="texto-description">
        <p>Nossos espaços estão disponíveis também para locações para exposições, gravações, desfiles e shows.</p>
    </section> -->
</main>