<main>
    <section id="titulo-servicos">
        <h1>Casamento</h1>
    </section>
    
    <section class="texto-description">
        <p>O RolêTop tem em seu histórico mais de 36.000 eventos organizados com sucesso. Com uma equipe especializada, toda essa experiência traz a tranquilidade de um evento inesquecível para os familiares, convidados e, principalmente, para os noivos. Em um momento de felicidade, os noivos têm a sua disposição toda a experiência da equipe do RolêTop que desenvolve projetos exclusivos para que cada evento seja único.</p>
    </section>
    <!-- <section class="texto-description">
        <p>Nossos espaços estão disponíveis também para locações para exposições, gravações, desfiles e shows.</p>
    </section> -->

    <div id="façaseurole">
        <h2>Realize seu Rolê Top</h2>
        <p>Entre em contato e receba um orçamento personalizado!</p>
        <section id="sectionFaça">
            <a>Faça seu Rolê</a>
        </section>
    </div>
  

    <div class="row" style="padding:20px 0 0 0">
        <div class="column">
            <img src="~/img/casamento.jpg" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="~/img/casamento.jpg" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="~/img/casamento.jpg" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
        </div>
    </div>
    <div class="row" style="padding:0 0 5px 0">
        <div class="column">
            <img src="~/img/casamento.jpg" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="~/img/casamento.jpg" style="width:100%" onclick="openModal();currentSlide(5)" class="hover-shadow cursor">
        </div>
        <div class="column">
            <img src="~/img/casamento.jpg" style="width:100%" onclick="openModal();currentSlide(6)" class="hover-shadow cursor">
        </div>
    </div>
    

    <div id="myModal" class="modal">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">

            <div class="mySlides">
                <div class="numbertext">1 / 6</div>
                <img src="~/img/casamento.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">2 / 6</div>
                <img src="~/img/casamento.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">3 / 6</div>
                <img src="~/img/casamento.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">4 / 6</div>
                <img src="~/img/casamento.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">5 / 6</div>
                <img src="~/img/casamento.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">6 / 6</div>
                <img src="~/img/casamento.jpg" style="width:100%">
            </div>
        
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>



</main>
