<main>
    <section id="titulo-servicos">
        <h1>Serviços</h1>
    </section>
    
    <section class="texto-description">
        <p>O RolêTop realiza festa de Casamento, Debutante, Bodas, Aniversários, Confraternizações, Bar Mitzva, Eventos Corporativos, Festa de Fim de Ano e todos os tipos de comemorações. Seja qual for seu evento, você precisa de um excelente serviço. O RolêTop pode ajudá-lo a realizar. Com mais de 38 anos de experiência no mercado, o RolêTop dispõe de todos os recursos para que sua festa ocorra da melhor maneira possível.</p>
    </section>
    <section class="texto-description">
        <p>Nossos espaços estão disponíveis também para locações para exposições, gravações, desfiles e shows.</p>
    </section>
    
    <div class="container-servicos">
        <div class="servicos">
            <a asp-controller="Servicos" asp-action="Casamento"><img src="~/img/casamento.jpg" alt="" title="" onmouseover="passo()" onmouseout="saiu()"></a>
            <h3 id="demo">Casamento</h3>
        </div>
        <div class="servicos">
            <a asp-controller="Servicos" asp-action="Debutante"><img src="~/img/debutante.jpg" alt="" title="" onmouseover="passo2()" onmouseout="saiu2()"></a>
            <h3 id="demo2">Debutante</h3>
        </div>
    
        <div class="servicos">
            <a asp-controller="Servicos" asp-action="Corporativo"><img src="~/img/corporativo.jpg" alt="" title="" onmouseover="passo3()" onmouseout="saiu3()" ></a>
            <h3 id="demo3">Corporativo</h3>
        </div>
        <div class="servicos">
            <a asp-controller="Servicos" asp-action="Outros"><img src="~/img/eventos.jpg" alt="" title="" onmouseover="passo4()" onmouseout="saiu4()"></a>
            <h3 id="demo4">Eventos - Formatura</h3>
        </div>
    </div>
    
</main>

<script>
    function passo() {
  document.getElementById("demo").style.color = "rgb(255, 190, 0)";
}

function saiu() {
  document.getElementById("demo").style.color = "rgb(255,255,255)";
}

    function passo2() {
  document.getElementById("demo2").style.color = "rgb(255, 190, 0)";
}

function saiu2() {
  document.getElementById("demo2").style.color = "rgb(255,255,255)";
}

    function passo3() {
  document.getElementById("demo3").style.color = "rgb(255, 190, 0)";
}

function saiu3() {
  document.getElementById("demo3").style.color = "rgb(255,255,255)";
}

   function passo4() {
  document.getElementById("demo4").style.color = "rgb(255, 190, 0)";
}

function saiu4() {
  document.getElementById("demo4").style.color = "rgb(255,255,255)";
}
</script>