* {
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: rgb(13,13,13, 0.88);
}

#foto-perfil-container {
    padding: 5% 0 10px 0;
}

#foto-perfil-container img{
    width:180px;
    height: 180px;
    border: 5px double orange;
    border-radius: 10%;
}

input[type=file]{
  padding:5px;
  background:#888484;
 
}

#dashboard h4 {
    color: white;
}


#dashboard {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#opcaoUser {
    padding: 60px 0 0 0;
    display: flex;
    text-align: center;
    flex-direction: column;
}

#opcaoUser a {
    text-decoration: none;
    width: 10em ;
    height: auto;
    margin: 15px 0 0 0;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    color: black;
    background-color: rgb(255, 160, 0, 0.9);
}

#opcaoUser a:hover {
    background-color:rgb(242, 94, 615);
    color: white;
    border: 1px solid rgb(0, 0, 0);
}

#footer-section-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.butao {
    width: 5em ;
    height: 2;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    color: black;
    background-color: rgb(255, 160, 0, 0.9); 
}

.butao:hover {
    background-color: rgb(255, 160, 0);
    color: black;
    border: 1px solid rgb(0, 0, 0);
}

#inpa {
    display: flex;
    justify-content: space-evenly;
}

#depor {
    display: flex;
    flex-direction: column;
}



  
